# KiCad backup / lock / autosave
*.bak
*-bak
*.kicad_pcb-bak
*.kicad_sch-bak
~*.lck
_autosave-*
fp-info-cache
*.kicad_prl

# Python
__pycache__/
*.pyc
.venv/
venv/

# output temporanei
/build/
*.tmp
.DS_Store
